#phototags
  .container
    .row
      .col-md-4.pull-left
        - if item.picture_url.to_s.empty? 
          %img{src:'http://placehold.it/500x300', class:'img-thumbnail'}
        - else
          = image_tag item.picture_url, class:'img-thumbnail'
        .tagsinput
          %span.tag
            = link_to item_path(item.id) do
              sample tag
          %span.tag
            = link_to item_path(item.id) do
              another tag
          - item.tags.uniq.each do |t|
            %span.tag
              test
              = t.name + ' : '
              = t.tag_count(item: item.id).to_s
      .row
        .col-md-8.pull-right.digcontentmetadata
          %strong Title:
          = item.title
          %br
          %strong Date:
          = item.date
          %br
          %strong Description:
          = item.description
          %br
          %strong Id:
          = item.source_id
          %br
          %strong Source:
          = item.source
          %br
          %strong Found:
          = item.found
          %br
          %strong Creator:
          = item.creator
          %br
          %strong Subject:
          = item.subject
          %br
          %strong Rights:
          = item.rights
        .col-md-8.pull-right
    .row
      - if current_user
        .form-group
          = form_tag :photo_tags, method: 'puts', id:'playform', class: 'pull-left' do
            #tags
            = hidden_field_tag :item, item.id
            = hidden_field_tag :from_page, 'items'
            = submit_tag 'submit', class: ' btn btn-primary pull-right'
    .row
      - comments.each do |c|
        .media.block
          %a.media-left{:href => "#"}
            - if c.user.photo_url.to_s.empty?
              = image_tag ['avatars/avatar_10937.jpg', 'avatars/avatar_11212.jpg', 'avatars/paigecopy.jpg', 'avatars/SonictheHedgehog4276.gif'].sample
            - else
              = image_tag c.user.photo_url
          .media-body
            %h4.media-heading
              - if c.user.name.to_s.empty?
                = ['Aldo', 'Moe', 'Chris', 'Marci', 'Mari', 'Rebecca'].sample
              - else
                = c.user.name
            .block= c.comment
            %br
            .small.pull-left= c.created_at.strftime('%D')
      %br
      - if current_user
        .form-group
          = form_tag :comments, method: 'puts' do
            = text_area_tag :comment, nil, class: 'form-control', rows: 3
            = hidden_field_tag :item, item.id
            = hidden_field_tag :from_page, 'items'
            %br
            = submit_tag 'submit', class: 'btn btn-primary pull-right'
            %br
:css
  div.tagsinput { padding:5px; width:300px; height:100px; overflow-y: auto;}
  div.tagsinput span.tag { border: 1px solid #795938; -moz-border-radius:2px; -webkit-border-radius:2px; display: block; float: left; padding: 5px; text-decoration:none; background: #E9E3DB; color: #795938; margin-right: 5px; margin-bottom:5px;font-family: helvetica;  font-size:13px;}
  div.tagsinput span.tag a { font-weight: bold; color: #795938; text-decoration:none; font-size: 11px;  } 
  div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }
  div.tagsinput div { display:block; float: left; } 
  .tags_clear { clear: both; width: 100%; height: 0px; }
  .not_valid {background: #FBD8DB !important; color: #90111A !important;}
  .digcontentmetadata {
    border-radius: 5px;
    border:1px solid #ddd;
    padding:1em;
    background:#e9e3db;
    float:left;
    margin-bottom:2em;
    margin-left:.5em;
    width:65%;
    height: 100%;
    line-height:1.25em;
  }
