!!!
%html
  %head
    %title
      - unless yield(:title).to_s.empty?
        = yield (:title)
        |
      = tr(:brand_name)
      |
      = tr(:brand_tagline)
    %meta{ charset:"utf-8"}
    %meta{ 'http-equiv' => "X-UA-Compatible", content:"IE=edge"}
    %meta{ name: 'viewport', content: "width=device-width, initial-scale=1"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-history{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to root_path do
            .historymiamilogo
              History
              %span Miami
            
        #navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li
                = link_to t(:log_out).titleize, destroy_user_session_path, :method => :delete
            - else
              %li
                = link_to t(:log_in).titleize, new_user_session_path
              %li
                = link_to t(:registration).titleize, new_user_registration_path
    %nav.navbar.navbar-default{:role => "navigation"}
      .container
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to 'Chronicle', root_path, class: 'navbar-brand'
        #navbar-collapse.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li
                = link_to 'Play Tag', photo_tags_path
              %li
                = link_to t(:log_out).titleize, destroy_user_session_path, :method => :delete
            - else
              %li
                = link_to t(:log_in).titleize, new_user_session_path
              %li
                = link_to t(:registration).titleize, new_user_registration_path        
    = yield
