!!!
%html
  %head
    %title
      - unless yield(:title).to_s.empty?
        = yield (:title)
        |
      = tr(:brand_name)
      |
      = tr(:brand_tagline)
    %meta{ charset:"utf-8"}
    %meta{ 'http-equiv' => "X-UA-Compatible", content:"IE=edge"}
    %meta{ name: 'viewport', content: "width=device-width, initial-scale=1"}
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #header_container
      %nav.navbar.navbar-history{:role => "navigation"}
        .container
          .navbar-header
            = link_to root_path do
              .historymiamilogo
                History
                %span Miami

          #navbar-collapse.collapse.navbar-collapse.pull-right
            %ul.nav.navbar-nav.navbar-right
              %li.dropdown
                - if current_user
                  = link_to users_profile_path(current_user) do
                    %li
                      = current_user.name == ' ' ? current_user.email : current_user.name
                      = current_user.badges.count

      %nav.navbar.navbar-default{:role => "navigation"}
        .container
          .navbar-header
            %button.navbar-toggle.collapsed{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            = link_to 'Chronicle', root_path, class: 'navbar-brand'
          #navbar-collapse.collapse.navbar-collapse
            %ul.nav.navbar-nav.navbar-right
              - if current_user
                %li
                  = link_to tr(:play_tag).titleize, photo_tags_path
                %li
                  = link_to tr(:log_out).titleize, destroy_user_session_path, :method => :delete
              - else
                %li
                  = link_to tr(:log_in).titleize, new_user_session_path
                %li
                  = link_to tr(:registration).titleize, new_user_registration_path
    = yield
    %footer.footer
      .container
        .row
          .col-lg-4
            %address
              %strong HistoryMiami
              %br
              101 West Flagler Street
              %br
              Miami, FL 33130
              %br
              305-375-1492
              %br
              %a{:href => "mailto:e.info@historymiami.org"} e.info@historymiami.org
          .col-lg-4.hidden-xs
            %p
              %strong Social Media
            %a{:href => "http://www.facebook.com/historymiami360", :target => "blank"}
              %img{:alt => "HistoryMiami on Facebook", :src => "http://www.historymiami.org/images/facebook.png"}/
            %a{:href => "http://www.twitter.com/historymiami", :target => "blank"}
              %img{:alt => "HistoryMiami on Twitter", :src => "http://www.historymiami.org/images/twitter.png"}/
            %a{:href => "http://www.flickr.com/photos/historymiami", :target => "blank"}
              %img{:alt => "HistoryMiami on Flickr", :src => "http://www.historymiami.org/images/flickr.png"}/
            %a{:href => "http://www.youtube.com/historymiami", :target => "blank"}
              %img{:alt => "HistoryMiami on YouTube", :src => "http://www.historymiami.org/images/youtube.png"}/
            %a{:href => "http://foursquare.com/venue/1357011", :target => "blank"}
              %img{:alt => "HistoryMiami on Foursquare", :src => "http://www.historymiami.org/images/foursquare.png"}/
            %a{:href => "http://www.tripadvisor.com/Attraction_Review-g34438-d592101-Reviews-HistoryMiami-Miami_Florida.html", :target => "_blank"}
              %img{:alt => "HistoryMiami on Trip Advisor", :src => "http://www.historymiami.org/images/trip-advisor.jpg"}/
          .col-lg-4.hidden-xs
            #footer_smithsonian
            %img{ src: 'http://www.historymiami.org/images/logo_smithsonian.png', height: '48px'}
        .row.hidden-xs
          .col-lg-12
            .hm-footer
              %p#footer_copyright ©HistoryMiami. All rights reserved.
              %ol.hm-breadcrumb.pull-right
                %li
                  %a{:href => "http://www.historymiami.org/sitemap/"} Sitemap
                %li
                  %a{:href => "http://www.historymiami.org/about-us/press-room/"} Press Room
                %li
                  %a{:href => "http://www.historymiami.org/sign-up-for-news/", :target => "_blank"} Sign Up For News
                %li
                  %a{:href => "http://www.historymiami.org/about-us/contact-us/"} Contact Us

