#register.vh
  .container
    .col-lg-4.col-lg-push-4
      .platter-middle
        = render 'shared/alerts'
      .platter-middle
        = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
          = render 'shared/simple_form_errors', f: f
          = f.input :email, label: false, error: false, input_html: { class: 'form-control', placeholder: tr(:email).to_s.titleize, size: '100' }
          = f.input :password, label: false, error: false, input_html: { class: 'form-control', placeholder: tr(:password).to_s.titleize, size: '100' }
          -#= f.input :newsletter, input_html: {class: 'lr-label'}
          .platter-split
            = button_tag tr(:sign_up).to_s.titleize, :class => 'lr-btn btn-block'
          .platter-split
            %label.checkbox
              = f.input  :remember_me, :as => :boolean, input_html: { class: 'lr-label', :checked => "checked"}, :inline_label => tr(:remember_me).to_s.titleize if devise_mapping.rememberable?
        = link_to tr(:log_in), new_user_session_path, class: 'btn btn-default btn-block'


